#trainers {
    width: 100vw;
    padding: 5vh 0 0 0;
    background-color: var(--background-color-3);
}

#trainers .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#trainers .container h2 {
    color: var(--main-color);
    font-family: "Poppins", sans-serif;
    font-weight: 750;
}

#trainers .container #underline {
    width: 5.2rem;
    height: 0.5rem;
    border-radius: 5rem;
    background-color: var(--select-color);
}

#trainers .container p {
    color: var(--text-color-1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

#trainers .container .row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#trainers .trainer .img-frame {
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#trainers .trainer .img-frame .frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    clip-path: polygon(0 35%, 35% 35%, 35% 0, 65% 0, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
    transition: all 0.3s;
}

#trainers .trainer img {
    border: 2px solid var(--select-color);
    border-radius: 0.5rem;
    z-index: 1;
}

#trainers .trainer .img-frame img:hover ~ .frame {
    clip-path: polygon(0 35%, 35% 35%, 35% 0, 65% 0, 65% 35%, 100% 35%, 100% 85%, 90% 85%, 85% 100%, 15% 100%, 15% 85%, 0 85%);
}

#trainers .trainer .img-frame .trainer-name:hover ~ .frame {
    clip-path: polygon(0 35%, 35% 35%, 35% 0, 65% 0, 65% 35%, 100% 35%, 100% 85%, 90% 85%, 85% 100%, 15% 100%, 15% 85%, 0 85%);
}

#trainers .trainer .trainer-name {
    position: absolute;
    width: 85%;
    height: 35%;
    bottom: 7%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    clip-path: polygon(0 20%, 20% 20%, 20% 0, 80% 1%, 80% 20%, 100% 20%, 100% 80%, 80% 80%, 78% 100%, 20% 100%, 20% 80%, 0 80%);
    z-index: 2;
    transition: all 0.5s;
}

#trainers .trainer .trainer-name h4 {
    color: var(--header-text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

#trainers .trainer .trainer-name p {
    color: var(--header-text-color);
    font-family: "Poppins", sans-serif;
}

#trainers .trainer .img-frame img:hover ~ .trainer-name {
    visibility: visible;
    opacity: 1;
}

#trainers .trainer .img-frame .trainer-name:hover {
    visibility: visible;
    opacity: 1;
}
